<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fullTime" class="com.company.services.FullTime">
        <property name="extraHours" ref="overTime"/>
    </bean>
    <bean id="partTime" class="com.company.services.PartTime"></bean>

    <bean id="overTime" class="com.company.services.OverTime"></bean>



</beans>