<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>First Name:<span th:text="${employee.firstName}"></span></h2>
    <h2>Last Name:<span th:text="${employee.lastName}"></span></h2>
    <h2>Email:<span th:text="${employee.email}"></span></h2>
    <h2>Gender:<span th:text="${employee.gender}"></span></h2>
    <h2>High Education:<span th:text="${employee.highEducation}"></span></h2>
    <h2>Title:<span th:text="${employee.title}"></span></h2>


</body>
</html>